.HomeContainer{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Fitem{
    /* display: flex; */
    margin: 30px; 
    /* flex-wrap: wrap; */
}
